header{
    background-color: aqua;
    color: black;
}
header > li{
    color: black;
    padding: 10px;
}

#logo {
  width: 100px; /* Adjust the width as needed */
}

header {
  white-space: nowrap; /* Prevent wrapping */
}

header * {
  display: inline-block;
  vertical-align: middle; /* Align elements vertically */
}
li>ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}
